.cards{
    list-style: none;
}

.card{
    margin-top: 0.5rem;
    background-color: rgb(199, 199, 225);
    text-align: center;
}

.card button {
    margin-top: 0.5rem;
}
  

@media (min-width: 768px) {
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(33% - 2rem);
    }
  }
  
  @media (min-width: 1024px) {
    .card {
      width: calc(25% - 2rem);
    }
  }
  
  @media (min-width: 1200px) {
    .card {
      width: calc(20% - 2rem);
    }
  }