.todo-form{
    padding: 2rem 1rem;
    margin: 2rem 0;
    background-color: rgb(199, 199, 225);
}

.todo-form form {
    display: flex;
    justify-content: center;
}

.todo-form input {
    margin-right: 2rem;
    flex: 1;
    font-size: 15px;
}

.todo-form button {
    width: 150px;
    font-size: 15px;
}