#title{
    font-family: cursive;
    font-size: 40px;
    color: rgb(64, 74, 23);
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#title_middle, #icon {
    color: rgb(143, 143, 213);
    font-family: cursive;
}